﻿@if (Request.IsAuthenticated)
{
<text>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a id="profile-link">@User.Identity.Name</a>
        </li>
        <li>
            @Html.ActionLink("Sign out", "SignOut", "Account")
        </li>
    </ul>
</text>
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Sign in", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
</ul>
}